/*----------Global Classes----------*/

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.global-input {
  outline: none;
  border: black 1px solid;
  border-radius: 3px;
  height: 40px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  padding-left: 9px;
}

label {
  margin-top: 25px;
  margin-left: 5px; 
  font-size: 13px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
}

.global-btn {
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
  border: black 1px solid;
  font-size: 16px;
  cursor: pointer;
  background-color: #1f1f3d;
  color: #fff;
  outline: none;
}

/*----------Header----------*/

header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f1f3d;
  position: fixed;
  top: 0;
  left: 0;
}

.header__title {
  font-weight: 800;
  margin-left: 10px;
  color: #fff;
}

.header__title-yo {
  color: #ffc30c;
}

.header__form {
  width: 300px;
  display: flex;
}

.header__form__search-input {
  width: 250px;
  margin-right: 10px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-left: 0px;
  font-size: 12px;
}

.header__form__search-btn {
  background-color: lightgray;
  width: 40px;
  height: 40px;
  position: absolute;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: 1px solid #1f1f3d;
  border-right: 0;
  cursor: pointer;
  padding: 5px;
}

/*----------Main----------*/

main {
  display: grid;
  grid-template-columns: 300px auto;
  width: 100%;
  height: 94vh;
  margin-top: 60px;
}

/*----------Tasks----------*/

.task-hub {
  column-width: 13em; 
}

.task-card__title,
.task-card__items {
  font-weight: 400;
  border-bottom: 2px solid #c7d3d8;
  width: 96%;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  color: #1f1f3d;
  font-size: 16px;
}

.task-card {
  display: inline-block;
  margin-left:  1rem;
  margin-top:  0.5rem;
  margin-bottom:  0.5rem;
  width:  100%; 
  background-color: #fafdff;
  border: 2px solid #c7d3d8;
}

.task-card__footer {
  display: flex;
  justify-content: space-between;
  padding: 7px;
}

.task-card__footer__urgency-btn,
.task-card__footer__close-btn {
  height: 20px;
  width: 20px;
}

.task-card__footer__text {
  font-size: 10px;
  color: #3c6577;
}

.task-card__footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  cursor: pointer;
}

.true {
  color: #828282;
  font-style: italic;
}

/*----------Sidebar----------*/

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: space-around;
    border-right: 1px solid black;
    background-color: #587a8a;
}

.sidebar__form {
  display: flex;
  flex-direction: column;
  align-items: space-around;
  border-bottom: 1px solid black;
}

.sidebar__form__make-task-btn {
  margin-top: 45px;
}

.sidebar__form__clear-all-btn {
  margin-bottom: 25px;
}

.sidebar__form__urgency-fulter-btn {
  margin-top: 25px;
}

.sidebar__form__todo-item-input {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  width: 85%;
  border-right: 0px;
}

.sidebar__form__todo-item-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: relative;
}

.sidebar__form__todo-item-btn {
  background-color: #1f1f3d;
  width: 40px;
  height: 40px;
  position: absolute;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border: 1px solid black;
  cursor: pointer;
  display: inline-block;
}

.sidebar__form__todo-item-btn-plus-one,
.sidebar__form__todo-item-btn-plus-two {
  width: 25px;
  height: 1px;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
}

.sidebar__form__todo-item-btn-plus-one {
  margin-top: 50%;
}
.sidebar__form__todo-item-btn-plus-two {
  display: absolute;
  transform: rotate(90deg);
  margin-top: -1px;
}

.sidebar__form-list-items {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  color: #fff;
}

.item-delete-btn {
  height: 20px;
  width: 20px;
  cursor: pointer;
  margin-right: 5px;
}

.item-template-literals {
  display: flex;
  align-items: center;
  display: flex;
  align-items: flex-start;
}

.item-container {
  display: flex;
  margin-bottom: 10px;
  margin-top: 10px;
}

.item-checkbox {
  margin-top: 5px;
  margin-right: 5px;
  height: 15px;
  cursor: pointer;
}

.item-checkbox-text {
  cursor: pointer;
}

