/*----------Global Classes----------*/

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    border: red 0px solid;
}

.global-input {
  outline: none;
  border: black 1px solid;
  border-radius: 3px;
  height: 40px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
	padding-left: 5px;
}

label {
    margin-top: 25px;
    margin-left: 5px; 
    font-size: 13px;
    font-weight: bold;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.global-btn {
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
    border: black 1px solid;
    font-size: 16px;
    font-weight: bold;
}

/*----------Header----------*/

header {
    width: 100%;
    height: 53px;
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__title {
    font-weight: 800;
}

.header__form {
  width: 250px;
  display: flex;
}

.header__form__search-input {
  width: 200px;
  margin-right: 10px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-left: 0px;
}

.header__form__search-btn {
  background-color: gray;
    width: 40px;
    height: 40px;
    position: absolute;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: 1px solid black;
}

/*----------Main----------*/

main {
    display: grid;
    grid-template-columns: 300px auto;
    width: 100%;
    height: 94vh;
}

/*----------Tasks----------*/

.task-hub__task-card__title {
    font-weight: 400;
}

.task-hub {
}

/*----------Sidebar----------*/

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: space-around;
    border-right: 1px solid black;
}

.sidebar__form {
    display: flex;
    flex-direction: column;
    align-items: space-around;
    border-bottom: 1px solid black;
}

.sidebar__form__make-task-btn {
    margin-top: 45px;
}

.sidebar__form__clear-all-btn {
    margin-bottom: 25px;
}

.sidebar__form__urgency-fulter-btn {
    margin-top: 25px;
}

.sidebar__form__todo-item-input {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 85%;
    border-right: 0px;
}

.sidebar__form__todo-item-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: relative;
}

.sidebar__form__todo-item-btn {
    background-color: gray;
    width: 40px;
    height: 40px;
    position: absolute;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border: 1px solid black;
}

